<launch>
    <include file="$(find robots)/launch/kobuki_rplidar.launch"/>
    <include file="$(find astra_camera)/launch/astra.launch"/>
    <include file="$(find navigation)/launch/navigation.launch"/>
    <include file="$(find darknet_ros)/launch/darknet_ros.launch"/>
    <include file="$(find gb_dialog)/launch/gb_dialog_services_soundplay.launch"/>
</launch>
